<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        package="com.one.fruitmanpengepul">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".BaseApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".ui.buyer_in_progress_activity.BuyerInProgressActivity"
                android:label="@string/title_activity_buyer_in_progress"
                android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
                android:name=".ui.seller_in_progress_activity.SellerInProgressActivity"
                android:label="@string/title_activity_seller_in_progress"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.waiting_activity.WaitingOrderActivity"
                android:label="@string/title_activity_waiting_order"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".ui.order_in_progress_activity.OrderInActivity"
                android:label="@string/title_activity_order_in"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.product_activity.ProductActivity" />
        <activity
                android:name=".ui.detail_product_activity.DetailProductActivity"
                android:label="@string/title_activity_detail_product"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.register_activity.RegisterActivity" />
        <activity android:name=".ui.login_activity.LoginActivity" />
        <activity
                android:name=".ui.main_activity.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>